<config>
	<static>
		<game.CGame>
			
			<sUrlDownload></sUrlDownload>
			<bWndUrl>true</bWndUrl> <!--true:specifies a new window; false:specifies the current frame in the current window-->
			
			<aConfStages time="5" rainsShow="5" maxRains="5" rainDelay="20"/>  <!--stage 5-->
			<aConfStages time="5" rainsShow="4" maxRains="4" rainDelay="20"/>  <!--stage 4-->
			<aConfStages time="4"  						/>  <!--stage 3-->
			<aConfStages time="4"						/>  <!--stage 2-->
			<aConfStages time="4"						/>  <!--stage 1-->

		</game.CGame>

		<game.field.CField>
			
			<nSpeedTransp>4</nSpeedTransp> <!--???????? ????? ????? ???????-->
			<nSpeedDown>15</nSpeedDown> <!--???????? ??????? ????? ???? ????? ????????-->
			<nSpeedAdd>18</nSpeedAdd> <!--???????? ?????????? ?????-->
			<nSpeedScore>2</nSpeedScore> <!--???????? ???????? ????? ?????-->
			<nDelScaleMark>40</nDelScaleMark> <!--???????, ?? ???-??? ????? ???????? ????? ??? ????????-->

		</game.field.CField>
	</static>
</config>