<data>
<API>0</API>
<SetCheat>0</SetCheat>
<ScoreBroadcastTime>10000</ScoreBroadcastTime>
<DownloadURL>http://www.iwin.com</DownloadURL>
<DownloadURLWindowType></DownloadURLWindowType>
<GameOverUpsell>1</GameOverUpsell>
<GameOverUpsellDownload>0</GameOverUpsellDownload>
<LevelUpsell>1</LevelUpsell>
<LevelUpsellDownload>0</LevelUpsellDownload>
<DownloadCutscenes>1</DownloadCutscenes>
<BrandingHolder>GameFiles/logos.jpg</BrandingHolder>
<Layout1>YinAndYang.xml</Layout1>
<Layout2>ExplosiveSituation.xml</Layout2>
<Layout3>BrickConservation.xml</Layout3>
<Layout4>MagneticTradeWinds.xml</Layout4>
<Layout5>AnOldFavorite.xml</Layout5>
</data>